loading-bar{
	position: fixed;
	top:0;
	left:0;
	z-index: 100000;
}


.container-fluid{
	padding:0;
}


img{
	display:block;
	max-width: 100%;
	width:100%;
}

.navbar{
	justify-content: space-between !important; 
}

.navbar-brand{
	max-width: 200px;
}

.navbar-text{
	float:right;
	align-self:flex-end;

}

#navbarText{
	justify-content: flex-end;
}



.sidebar{
	height: 90vh;
	overflow-y:scroll;
	overflow-x:hidden;
	padding:0 ;
}

agm-map {
  height: 90vh;
}

.keyspot__infowindow_phone,
.keyspot__infowindow_url,
{
	padding-bottom:5px;
	.fa{padding: 0 10px 0 0;}
}
