<div 
  class="card keyspot__card" 
  [ngClass]="{'border-primary mb-3': expanded}"
>

  <div  class="card-body keyspot__card_body row">
    <img src="..." alt="" class="col-md-3 keyspot__card__img rounded-circle">
    <div class="col-md-8">
      <h5 class="card-title keyspot__card__title">{{title}}</h5>
      <address class="keyspot__card__address">{{address}}</address>  
    </div>  
  </div>

  <ul 
    [hidden]="!expanded"
    class="list-group list-group-flush"
  >
    <li *ngIf="desc !==''  " class="list-group-item">
      <p class="keyspot__card__desc">{{desc}}</p>
    </li>

    <li *ngIf="phone !=='' " class="list-group-item">
      <i class="fa fa-phone" aria-hidden="true"></i>{{phone}}
    </li>

    <li *ngIf="url !=='' " class="list-group-item keyspot__card__url">
      <i class="fa fa-external-link" aria-hidden="true"></i>
      <a href="{{url}}" target="_blank">website</a>

    </li>

  </ul>

  <!-- <div 
    [hidden]="!expanded"
    class="card-body"
  >
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->

</div>