<div class="card keyspot__card" >

  <div class="card-body row">
    <img src="..." alt="" class="col-md-3 keyspot__card__img rounded-circle">
    <div class="col-md-8">
      <h5 class="card-title">Location title</h5>
      <address>street address</address>  
    </div>  
  </div>

  <ul 
    [hidden]="!expanded"
    class="list-group list-group-flush"
  >
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>

  <div 
    [hidden]="!expanded"
    class="card-body"
  >
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>

</div>